label {
  display: block;
  font-weight: 700;
  margin-bottom: $base/2;
}

textarea,
select {
  border: 1px solid #ccc;
  padding: 6px 4px;
  outline: none;
  border-radius: 2px;
  width: 100%;
  display: block;
  margin: 0 0 $base/2 0;
  background: #F5F5F5;
}

textarea {
  min-height: $base*3;

  &:focus {
    border: 1px solid #aaa;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
       -moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
            box-shadow:  0 0 3px rgba(0,0,0,.2);
  }
}
select {
  height: $base;
}


// Buttons
button {
  display: inline-block;
  line-height: 1.5*$base;
  padding-left: $base;
  padding-right: $base;
  background: transparent;
  border: none;
  text-decoration: none;
  font-size: 1.25em;
  font-weight: 400;
  cursor: pointer;
  margin: 0;
  color: #424242;

  &:hover { background-color: #F5F5F5; }

  &:active {
    border: none;
    outline: none;
  }
}


.send {
  color: #FF9100;

  &:hover { background-color: #FFF3E0; }
}